<h2>{{title}}</h2>

<table>
  
  <tr>
    <th>#</th>
    <th>Team</th>
    <th>GP</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>GF</th>
    <th>GA</th>
    <th>GD</th>
  </tr>

  <tr *ngFor="let point of points">
    <td>{{point.position}}</td>
    <td>{{point.team.name}}</td>
    <td>{{point.playedGames}}</td>
    <td>{{point.won}}</td>
    <td>{{point.draw}}</td>
    <td>{{point.lost}}</td>
    <td>{{point.goalsFor}}</td>
    <td>{{point.goalsAgainst}}</td>
    <td>{{point.goalDifference}}</td>
  </tr>

</table>
