/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  color: white;
}

h1, footer {
  color: black;
}

h2 {
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
}

table {
  width: 80%;
	border-collapse: collapse;
  overflow: hidden;
  margin-left:auto; 
  margin-right:auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
  padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
  background-color: #55608f;
}

tr:hover {
  background-color: rgba(255,255,255,0.3);
}

td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}